---
import { getCollection, type CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import { Layout } from "@globals";
import DocsPageHeader from "@/components/page-header.astro";
import { MdxComponents } from "@/content/mdx-components";
export async function getStaticPaths() {
	const docs = await getCollection("docs");
	return docs.map((doc) => ({
		params: { slug: doc.slug },
		props: doc,
	}));
}

type Props = CollectionEntry<"docs">;
const doc = Astro.props;
const slug = Astro.params.slug;

// const toc = await getTableOfContents(doc.body);
const { Content } = await doc.render();

if (!slug || !doc) {
	return new Response(null, {
		status: 404,
		statusText: "Not found",
	});
}

const structuredData = {
	"@context": "https://schema.org",
	"@graph": [
		{
			"@type": ["Person", "Organization"],
			"@id": "https://digiimpact.tech/#person",
			name: "digiimpact.tech",
			logo: {
				"@type": "ImageObject",
				"@id": "https://digiimpact.tech/#logo",
				url: "https://digiimpact.tech/logodigi.jpg",
				contentUrl: "https://digiimpact.tech/logodigi.jpg",
				caption: "digiimpact.tech",
				inLanguage: "en-GB",
			},
			image: {
				"@type": "ImageObject",
				"@id": "https://digiimpact.tech/#logo",
				url: "https://digiimpact.tech/logodigi.jpg",
				contentUrl: "https://digiimpact.tech/logodigi.jpg",
				caption: "digiimpact.tech",
				inLanguage: "en-GB",
			},
		},
		{
			"@type": "WebSite",
			"@id": "https://digiimpact.tech/#website",
			url: "https://digiimpact.tech",
			name: "digiimpact.tech",
			publisher: {
				"@id": "https://digiimpact.tech/#person",
			},
			inLanguage: "en-GB",
		},
		{
			"@type": "ImageObject",
			"@id": `${Astro.url.origin}/${doc.data.image}`,
			url: `${Astro.url.origin}/${doc.data.image}`,
			width: 700,
			height: 700,
			inLanguage: "en-GB",
		},
		{
			"@type": "ItemPage",
			"@id": `${Astro.url.origin}`,
			url: `${Astro.url.origin}/${doc.data.image}`,
			name: doc.data.title,
			datePublished: doc.data.publishedTime,
			dateModified: doc.data.modifiedTime,
			isPartOf: {
				"@id": "https://digiimpact.tech/#website",
			},
			primaryImageOfPage: {
				"@id": `${Astro.url.origin}/${doc.data.image}`,
			},
			inLanguage: "en-GB",
		},
		{
			"@type": "Product",
			name: doc.data.title,
			url: `${Astro.url.origin}/${doc.data.image}`,
			description: doc.data.description,
			image: {
				"@type": "ImageObject",
				url: `${Astro.url.origin}/${doc.data.image}`,
				name: doc.data.title,
			},
			video: {
				"@type": "videoObject",
				description: doc.data.description,
				thumbnailUrl: `${Astro.url.origin}/${doc.data.image}`,
				uploadDate: "2023-05-20T05:45:58+01:00",
				name: doc.data.title,
			},
			review: {
				"@type": "Review",
				datePublished: "2023-05-20T05:45:58+01:00",
				dateModified: "2024-10-19T08:31:43+01:00",
				author: {
					"@type": "Person",
					name: "digiimpact",
				},
				reviewRating: {
					"@type": "Rating",
					ratingValue: "4",
				},
			},
			mainEntityOfPage: {
				"@id": `${Astro.url.origin}`,
			},
		},
	],
};
---

<Layout
	title={doc.data.title}
	description={doc.data.description}
	publishedTime={doc.data.publishedTime}
	sd={structuredData}
>
	<div class="container flex-1">
		<div
			class="flex-1 md:grid md:grid-cols-[220px_1fr] md:gap-6 lg:grid-cols-[240px_1fr] lg:gap-10"
		>
			<aside
				class="fixed top-14 z-30 -ml-2 hidden h-[calc(100vh-3.5rem)] w-full shrink-0 md:sticky md:block"
			>
			</aside>
			<main
				class="relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px]"
			>
				<div class="mx-auto w-full min-w-0">
					<div
						class="mb-4 flex items-center space-x-1 text-sm text-muted-foreground"
					>
						<div class="truncate">Docs</div>
						<Icon name="lucide:chevron-right" class="size-4" />
						<div class="font-medium text-foreground">{doc.data.title}</div>
					</div>

					<DocsPageHeader
						heading={doc.data.title}
						text={doc.data.description}
					/>

					<Content components={MdxComponents} />

					<hr class="my-4 md:my-6" />
					<!-- <DocsPager slug={doc.slug} /> -->
				</div>
				<div class="hidden text-sm xl:block">
					<div
						class="sticky top-18 -mt-10 max-h-[calc(var(--vh)-4rem)] overflow-y-auto pt-10"
					>
						<!-- <DashboardTableOfContents toc={toc} client:load /> -->
					</div>
				</div>
			</main>
		</div>
	</div>
</Layout>
